<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Auto Kings</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header th:fragment="navigation">

    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand">
            <img  width="80px"  id="brand-image" alt="Website Logo" src="/images/logoAuto.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

<!--                FIELDS ONLY FOR USERS-->
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/services}">Services</a>
                </li>

                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link"  sec:authorize="!hasRole('ADMIN')" th:href="@{/users/profile/{name}(name = ${#authentication.principal.username})}">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/car/add}">Add car</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/car/info/{name}(name = ${#authentication.principal.username})}">Your car</a>
                    </li>
                </th:block>


<!--                ADMIN FIELDS-->
                <th:block sec:authorize="hasRole('ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/mechanic/add}">Add mechanic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/mechanic/info}">Mechanics info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/customer}">Customers info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/car/all}">Cars info</a>
                    </li>
                </th:block>


            </ul>

            <ul class="navbar-nav ml-auto">
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasRole('ADMIN')"  th:href="@{/users/profile/{name}(name = ${#authentication.principal.username})}">Hello,Admin!</a>
                    </li>
                    <form th:action="@{/users/logout}" th:method="post">
                        <input class="btn btn-link nav-link" type="submit" value="Logout">
                    </form>
                </th:block>

                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/register}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/login}">Login</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>