.jumbotron {
    background-image: url(/images/carMain.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;

}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
}
