<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/commons::head"></head>
<body class="bg-secondary">
<header th:replace="fragments/commons::navigation"></header>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="container text-light text-center">
            <h1 class="display-3"><strong class="bg-blur rounded">About us</strong></h1>
        </div>
        <div class="container text-light text-center">
            <h1 class="display-1" style="font-size: 24px;"><strong class="bg-blur rounded">Welcome to our website! We are a team of experienced and skilled mechanics who are dedicated to providing high-quality and reliable car repair services to our customers.

                With years of experience in the industry, we understand how important your vehicle is to you, and we are committed to ensuring that your car is in the best possible condition when it leaves our shop. Whether you need routine maintenance or major repairs, we have the expertise and equipment to get the job done right the first time.

                At our repair shop, we pride ourselves on our commitment to customer satisfaction. We know that car repairs can be stressful and inconvenient, which is why we strive to make the process as easy and hassle-free as possible. Our friendly and knowledgeable staff are always here to answer your questions and keep you informed throughout the repair process.

                We also believe in using only the highest quality parts and equipment for our repairs. We understand that your car is a major investment, and we want to help you protect that investment by using only the best materials and tools.

                Thank you for considering us for your car repair needs. We look forward to the opportunity to earn your business and exceed your expectations.</strong></h1>
        </div>
    </div>
</div>
<footer class="container">
    <p>&copy;AutoKings 2023</p>
</footer>
</body>
</html>